@font-face {
  font-family: "Nunito", sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Special+Gothic+Expanded+One&display=swap');
  font-weight: normal;
  font-style: normal;
}
